LANDING_PAGE_URL=https://www.saucedemo.com/
DASHBOARD_URL=https://www.saucedemo.com/inventory.html
CART_URL=https://www.saucedemo.com/cart.html
CHECKOUT_STEP_ONE_URL=https://www.saucedemo.com/checkout-step-one.html
CHECKOUT_STEP_TWO_URL=https://www.saucedemo.com/checkout-step-two.html
CHECKOUT_COMPLETE_URL=https://www.saucedemo.com/checkout-complete.html
ABOUT_PAGE_URL=https://saucelabs.com/
TIMEOUT=20000

USER_NAME=standard_user
PASSWORD=secret_sauce

CHECKOUT_FIRST_NAME=ose
CHECKOUT_LAST_NAME=oziegbe
CHECKOUT_POSTAL_CODE=0701995

HEADLESS=false
